version: '3.8'

services:
  ssh-service-api:
    build: .
    container_name: ssh-service-api
    ports:
      - "7000:7000"
    environment:
      - PORT=7000
      - API_KEY=${API_KEY}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS:-*}
    restart: unless-stopped
    networks:
      - ssh-service-network
  nginx:
    security_opt:
      - "no-new-privileges:true"
    image: nginx:alpine
    container_name: ssh-service-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs:ro
    tmpfs:
      - /var/run
      - /var/cache/nginx
      - /var/log/nginx
    networks:
      - ssh-service-network
    restart: unless-stopped
    depends_on:
      - ssh-service-api
networks:
  ssh-service-network:
    driver: bridge
